<% title "New Article" %>
<div class="toolbar">
	<ul>
		<li><%= link_to "Cancel and Return to List of Articles", articles_path, :class => "deletelink" %></li>
	</ul>
</div>
<%= render :partial => 'form' %>
